.uservel {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .border-right {
    border-right: 1px solid #e3e3e3;
  }
  .border-left {
    border-left: 1px solid #e3e3e3;
  }
}

.uservel-list {
  counter-reset: rowNumber;

  .tbl-row-no:before {
    counter-increment: rowNumber;
    content: counter(rowNumber);
  }
  .actions {
    text-align: center;
  }
}

.uservel-permissions .perm-group {
  max-height: 370px;
  overflow-x: auto;
}