.uservel-permissions {
  > div {
    border-right: 1px solid #e3e3e3;
    &:last-child {
      border-right: none
    }
  }
}
.uservel {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.uservel-list {
  .actions {
    text-align: center;
  }
}